<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pagina de Inicio</title>
</head>
<body>

    <header>
        <h1>EntreUtiles "Conectamos lo que tienes con quien lo necesita"</h1>
        
        <nav>
            <a href="/Inicio/">Inicio</a> | 
            <a href="/datos/">Datos</a> |
        </nav>
    </header>

    <main>
        
        <section>
            <h2>Sobre este Proyecto</h2>
            <p>Bienvenido a nuestra aplicacion web crear una plataforma web en Django donde las personas puedan donar utiles escolares que ya no necesitan
            </p> y otras personas puedan solicitar o recibir aquellos que necesitan para continuar con sus estudios.</p>
            <p>Propositos para el proyecto:</p>
            
            <ul>
                <li>Facilitar la donación y recepción de útiles escolares</li>
                <li>Conectar a quienes tienen materiales con quienes los necesitan</li>
                <li>Fomentar la solidaridad y reutilización</li>
                <li>Apoyar a estudiantes para que tengan más oportunidades de aprendizaje</li>
                 <li>Utilizar la tecnología para generar un impacto positivo en la comunidad</li>
            </ul>
        </section>

        <section>
            <h2>Pasos del Proyecto</h2>
            <p>A continuacion se mostraran los pasos para llevar la app web:</p>
            
            <ol>
                <li>Identificar el problema y plantear la solución.</li>
                <li>Diseñar la plataforma y sus funciones.</li>
                <li>Crear el proyecto en Django.</li>
                <li>Desarrollar el sistema de donaciones y solicitudes.</li>
                <li>Realizar pruebas y corregir errores</li>
                <li>Presentar el proyecto funcionando</li>
            </ol>
        </section>

    </main>

    <footer>
        <p>&copy; 2026 - Proyecto americaysaori |<a href="/datos/">Ir a la página de datos</a></p>
    </footer>

</body>
</html>